<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="${task.name}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">





</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Kanban</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
        </ul>
    </div>
</nav>



<div class="d-flex justify-content-center">
    <h1 th:text="${task.name}"></h1>
</div>

<hr />


<div class="container">
    <h3>Modify task</h3>
    <form th:action="@{/modifyTask/{id}(id=${task.id})}" th:object="${task}" method="post">
        <div class="form-group">
            <input placeholder="Name" class="form-control" id="nameInput" th:field="*{name}" /><br/>
            <input placeholder="Description" class="form-control" id="descriptionInput" th:field="*{description}" /><br/>
            <select class="form-control" id="boardSelect" th:field="*{board}">
                <option th:each="b: ${boards}" th:value="${b.id}" th:text="${b.title}"></option>
            </select> <br/>
            <select class="form-control" id="categorySelect" th:field="*{category}">
                <option th:value="${null}">Choose a category (optional)</option>
                <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select><br/>
            <select class="form-control" id="userSelect" th:field="*{user}">
                <option th:value="${null}">Choose a user (optional)</option>
                <option th:each="u: ${users}" th:value="${u.id}" th:text="${u.name}"></option>
            </select> <br/>

            <button class="btn btn-primary" type="submit">Modify</button>
        </div>

    </form>
</div>

</body>
</html>